<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>"Little Beirut"</h1>
    <h3>Contact Us</h3>
    <h3>Rony Nasr</h3>
    <p>
      rony.nasr@gmail.com
    </p>
    <h3>Noah Yasskin</h3>
    <p>
      noahyasskin@gmail.com
    </p>
  </div>
</div>
