{{#each model as |post|}}
  {{post-tile post=post}}
{{/each}}

{{new-post savePost="savePost"}}

{{#each model as |category|}}
  <li>{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</li>
{{/each}}
